name: Test & Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v2.1.0
        with:
          version: 6.23.3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          # cache: "pnpm"

      # - name: Record changes
      #   run: node common/scripts/install-run-rush.js change -v

      - name: Install Rush
        run: node common/scripts/install-run-rush.js install

      - name: Build
        run: node common/scripts/install-run-rush.js rebuild --verbose

      - run: pnpm -C bot test

  build:
    needs: [test]

    runs-on: ubuntu-latest
    env:
      VITE_DISCORD_OAUTH_REDIRECT_URL: ${{ secrets.VITE_DISCORD_OAUTH_REDIRECT_URL }}
      VITE_HOST: ${{ secrets.VITE_HOST }}
      VITE_DISCORD_CLIENT_ID: ${{ secrets.VITE_DISCORD_CLIENT_ID }}
      VITE_DISCORD_CLIENT_SECRET: ${{ secrets.VITE_DISCORD_CLIENT_SECRET }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU with arm64 platform
        uses: docker/setup-qemu-action@v1
        with:
          platforms: arm64

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Inspect builder
        run: |
          echo "Name:      ${{ steps.buildx.outputs.name }}"
          echo "Endpoint:  ${{ steps.buildx.outputs.endpoint }}"
          echo "Status:    ${{ steps.buildx.outputs.status }}"
          echo "Flags:     ${{ steps.buildx.outputs.flags }}"
          echo "Platforms: ${{ steps.buildx.outputs.platforms }}"

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Streamie
        run: make build

      # - name: Streamie Socket
      #   run: make build-socket
